@import "~/src/styles/variables";

.result {
    width: $media-default;
    margin: auto;
}

.description {
    width: 80%;
    margin: auto;
}

table{
    //width: 80%;
    //border-bottom: 2px solid black;
    border-collapse: collapse;
    width: $media-default;
    margin: auto;
    margin-bottom: 10px;
}

td, th {
    border-bottom: 2px solid black;
    text-align: center;

}

.redFigure{
    color: $primary-color;
    
}

.timeUnit{
    font-weight: bold;
}
  
.locationUnit{
    font-size: $font-size-key-figure;
    color: $primary-color;
}
.field {
    display: flex;
    flex-direction: column;
    margin: $global-spacing 0;
    padding: $global-spacing;
}

.calculate {
    grid-column-start: 1;
    display: flex;
    justify-content: center;
}

.btn {
    background-color: $primary-color;
    border: none;
    border-radius: $card-border-radius;
    color: $white;
    cursor: pointer;
    font-size: $base-font-size;
    font-weight: $base-font-bold;
    margin: 0 10px;
    padding: 10px;
    width: 150px;
    text-align: center;
}

@media screen and (max-width: $media-medium) {
    .result {
        width: 90%;
    }
}

@media screen and (max-width: $media-small) {
    .inputFields {
        grid-template-columns: 1fr;
    }

    .result {
        width: 90%;
    }
}