@import 'src/styles/variables';

.selection {
    position: absolute;
    top: $navbar-height;
    background-color: $white;
    border-top: $base-border-width solid $primary-color;
    border-radius: 0 0 $base-border-radius $base-border-radius;
    box-shadow: $base-box-shadow;
}

ul {
    // remove default list styling
    list-style-type: none;
    padding: 0;
    margin: 0;
    
}

.lang {
    display: flex;
    justify-content: left;
    list-style-type: none;
    font-size: $font-size-sm;
    color: $grey-coal;
    padding: $global-spacing $global-spacing-2;
}

.lang:hover {
    color: $primary-color;
}

.active {
    font-weight: $base-font-bold;
}

.active:hover {
    font-weight: $base-font-bold;
    color: black;
}

@media screen and (max-width: 768px) {

    .selection {
        display: flex;
        top: 0;
        position: relative;
        box-shadow: none;
        border-top: none;
    }

    .lang:hover {
        background-color: $white;
    }

    .active {
        font-weight: $base-font-bold;
        color: $primary-color;
    }
    
    .active:hover {
        font-weight: $base-font-bold;
        color: $primary-color;
    }
}