@import 'src/styles/variables';

.selection {
    position: absolute;
    top: $navbar-height;
    background-color: white;
    border-top: $base-border-width solid $primary-color;
    border-radius: 0 0 $base-border-radius $base-border-radius;
    box-shadow: $base-box-shadow;
}

.lang {
    display: flex;
    justify-content: left;
    list-style-type: none;
    font-size: $font-size-sm;
    color: $grey-coal;
    padding: $global-spacing $global-spacing-2;
}

.lang:hover {
    background-color: $grey-fog;
}
