@import '~src/styles/settings/variables';

// * {
//   text-align: center;
// }

Button{
  margin-right: 10px;
}

.answerButtons {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.formInputs {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}