@import 'src/styles/variables';

.button {
    display: flex;
    justify-content: center;
    width: $media-default;
    margin: auto;
}

.default {
    padding: $global-spacing 0;
    width: 10em;
    height: 3em;
    border-radius: $full-border-radius;
    background-color: $white;
    border: none;
}

.defaultText {
    text-decoration: none;
    font-weight: $base-font-bold;
    font-size: $font-size-md;
    color: $primary-color;
}

.inverse {
    padding: $global-spacing 0;
    width: 10em;
    height: 3em;
    border-radius: $full-border-radius;
    background-color: $primary-color;
    border: none;
}

.inverseText {
    text-decoration: none;
    font-weight: $base-font-bold;
    font-size: $font-size-md;
    color: $white;
}