@import "~/src/styles/variables";

.field {
    display: flex;
    flex-direction: column;
    margin: $global-spacing 0;
}

.population {
    padding-bottom: $global-spacing-2;
    margin: 0;
}

.subtitle {
    margin: 0;
}

.calculate {
    padding-top: $global-spacing-2;
}

.alert {
    padding-left: $global-spacing;
}

.alertText {
    width: 100%;
}

.textInput {
    background-color: transparent;
    border-radius: 0;
    font-size: $font-size-lg;
    border-bottom: 1px solid;
}

.subgroup {
    display: flex;
    align-items: flex-end;
}

.newRow {
    height: 30px;
    width: 30px;
    border-radius: $full-border-radius;
    border-color: $primary-color;
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: $global-spacing 0 $global-spacing $global-spacing;
}

.btn {
    background-color: $primary-color;
    border: none;
    border-radius: $card-border-radius;
    color: $white;
    cursor: pointer;
    font-size: $base-font-size;
    font-weight: $base-font-bold;
    //margin: 0 10px;
    margin: auto;
    padding: 10px;
    width: 150px;
    text-align: center;
}

.btn:disabled {
    background-color: $grey-cloud;
    cursor: not-allowed;
}

@media screen and (max-width: $media-medium) {
    .result {
        width: 90%;
    }
}

@media screen and (max-width: $media-small) {
    .inputFields {
        grid-template-columns: 1fr;
    }

    .result {
        width: 90%;
    }
}