@import 'src/styles/variables';

.menu {
    background-color: rgba($secondary-color, 0.9);
    box-shadow: $strong-box-shadow;
    height: 100%;
    width: 40%;
    position: fixed;
    overflow: hidden;
    right: 0;
    animation: slideIn 0.5s ease-in-out;
}

@keyframes slideIn {
  0% {
    right: -100%;
  }
  100% {
    right: 0;
  }
}

.link {
    display: flex;
    justify-content: center;
    font-size: $font-size-heading;
    font-weight: $base-font-bold;
    color: $white;
    padding: $global-spacing-2 0;
}

.link:hover {
    color: $primary-color
}

.active {
    text-decoration: underline;
    text-decoration-color: $primary-color;
    text-decoration-thickness: 4px;
    text-underline-offset: 10px;
}

.lang {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: $global-spacing-4;
    position: absolute;
    bottom: 0;
    background-color: $white;
}
