@import "~/src/styles/variables";

.result {
    width: $media-default;
    margin: auto;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.title {
    width: 80%;
    margin: auto;
    text-align: center;
}

.info {
    font-weight: $base-font-bold;
}

.number {
    text-align: center;
    color: $primary-color;
    font-size: 10vh;
    margin: auto;
    margin-bottom: $global-spacing-2;
}

.description {
    width: 80%;
    margin: auto;
    padding-bottom: 20px;
}

@media screen and (max-width: $media-medium) {
    .result {
        width: 90%;
    }

    .content {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: $media-small) {
    .inputFields {
        grid-template-columns: 1fr;
    }

    .result {
        width: 90%;
    }

    .content {
        grid-template-columns: 1fr;
    }
}