@import "~/src/styles/variables";

.result {
    width: $media-default;
    margin: auto;
}

.description {
    width: 80%;
}

@media screen and (max-width: $media-medium) {
    .result {
        width: 90%;
    }
}

@media screen and (max-width: $media-small) {
    .inputFields {
        grid-template-columns: 1fr;
    }

    .result {
        width: 90%;
    }
}