@import 'src/styles/variables';

.card {
    background-color: $grey-mist;
    border-radius: $card-border-radius;
    box-shadow: $base-box-shadow;
    padding: $global-spacing-2;
    margin: auto;
    width: fit-content;
}

.arrow {
    display: flex;
    margin: auto;
    animation: arrow 1.5s;
}

@keyframes arrow {
    0% {
        clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    }
    100% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}
