@import 'src/styles/variables';

.header {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    position: sticky;
    top: 0;
    justify-content: center;
    background-color: $white;
}

.bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $global-spacing;
    padding-top: 10px;
    width: $media-default;
}

.link {
    list-style-type: none;
    text-decoration: underline;
    text-decoration-color: $white;
    font-size: $font-size-md;
    color: $grey-coal;
    margin-left: $global-spacing-2;
}

.link:hover {
    color: $grey-silver;
}

.navlinks {
    display: flex;
}

.logo {
    width: 200px;
    text-decoration: none;
    list-style-type: none;
}

.navBtn {
    display: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.burger {
    display: none;
    color: $grey-coal;
}

@media screen and (max-width: 768px) {
    .bar {
        width: 100%;
    }

    .navBtn {
        display: flex;
    }

    .burger {
        display: flex;
    }

    .navlinks {
        display: none;
    }
}