@import 'src/styles/variables';

.footer {
  display: flex;
  justify-content: center;
  background-color: $grey-coal;
  height: 200px;
}

.bar {
  display: flex;
  width: $media-default;
  font-family: $base-font-family;
  color: $white;
  padding: 1rem;
  text-align: center;
  justify-content: space-around;
}

a {
  text-decoration: underline;
  color: $white;
}