@import 'src/styles/variables';

.footer {
  display: flex;
  justify-content: center;
  background-color: $grey-coal;
}

.title {
  font-size: $font-size-lg;
  font-weight: $base-font-bold;
}

.row {
  padding: $global-spacing;
}

.bar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: $media-default;
  font-family: $base-font-family;
  color: $white;
  padding: 1rem;
  justify-items: center;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: underline;
  color: $white;
}

@media screen and (max-width: $media-medium) {
  .bar {
    grid-template-columns: 1fr 1fr 1fr;
    width: 90%;
    margin: auto;
  }
}

@media screen and (max-width: $media-small) {
  .bar {
    grid-template-columns: 1fr 1fr;
  }
  .column {
    padding: $global-spacing 0;
  }
}