@import "~/src/styles/variables";

.tool {
    padding: $global-spacing-4 0;
}

.howto {
    padding: $global-spacing-5 0;
    background-color: $grey-mist;
}

.intro {
    padding: $global-spacing-3 0;
    width: 60%;
    margin: auto;
    text-align: justify;
    color: $white
}

.segment {
    background-color: $primary-color;
}

@media screen and (max-width: $media-medium) {
    .intro {
        width: 80%;
    }
}

@media (max-width: $media-small) {
    .intro {
        width: 90%;
    }
}