@import "~/src/styles/variables";

.intro {
    padding-top: $global-spacing-3;
    padding-bottom: $global-spacing-2;
    background-color: $grey-mist;
}

.title {
    width: 60%;
    margin: auto;
    padding-bottom: $global-spacing-2;
}

.introText {
    width: 60%;
    margin: auto;
    text-align: center;
}

.link {
    text-decoration: underline;
    font-weight: $base-font-bold;
    color: $grey-coal;
}

.resources {
    background-color: $white;
    padding: $global-spacing-3 0;
}

@media screen and (max-width: $media-medium) {
    .title {
        width: 90%;
        margin: auto;
        padding-bottom: $global-spacing-2;
    }

    .introText {
        width: 90%;
    }
}