@import "~/src/styles/variables";

.intro {
    padding-top: $global-spacing-3;
    padding-bottom: $global-spacing-2;
    background-color: $grey-mist;
}

.introText {
    width: 50%;
    margin: auto;
    text-align: center;
}

.resources {
    background-color: $white;
    padding: $global-spacing-3 0;
}

@media (max-width: $media-small) {
    .title {
        width: 80%;
        margin: auto;
        padding-bottom: $global-spacing;
    }

    .introText {
        width: 80%;
    }
}