@import "~/src/styles/variables";

.background {
    background: url('~/src/assets/homepage-bg.png') no-repeat;
    background-size: cover;
}
.intro {
    padding: $global-spacing-4 0;
    color: $white;
    width: 60%;
    margin: auto;
}

.features {
    padding: $global-spacing-5 0;
    width: 60%;
    margin: auto;
}

.howto {
    padding: $global-spacing-5 0;
    background-color: $grey-mist;
}

.header {
    display: flex;
    padding: $global-spacing-2;
    border-bottom: 2px solid $grey-titanium;
}

.icon, .title {
    margin: 0;
}

.icon {
    padding-right: $global-spacing-2;
}

.card {
    margin: $global-spacing-2;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.2);
    border-radius: $base-border-radius;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card:hover {
    box-shadow: $strong-box-shadow;
}

.link {
    font-weight: $base-font-bold;
    cursor: pointer;
    text-decoration: underline;
}

.content {
    width: 90%;
    margin: auto;
    padding-top: $global-spacing-3;
}

@media screen and (max-width: 1600px) {

    .features {
        width: 80%;
    }
}

@media screen and (max-width: $media-medium) {
    .intro {
        width: 80%;
    }
}

@media (max-width: $media-small) {
    .intro {
        width: 90%;
    }
    .features {
        width: 90%;
    }
    .cards {
        grid-template-columns: 1fr;
    }
}