@import "~/src/styles/variables";

.background {
    background-color: $grey-mist;
}

.intro {
    padding: $global-spacing-3 0;
    width: 60%;
    margin: auto;
    text-align: justify;
}

.abstract {
    padding: $global-spacing-3 0;
    background-color: $grey-coal;
    color: $white;
}

.features {
    padding: $global-spacing-3 0;
    width: 60%;
    margin: auto;
}

.segment {
    display: flex;
    width: 60%;
    margin: auto;
    padding: $global-spacing 0;
}

.segmentTitle, .segmentText {
    display: flex;
    align-items: center;
    text-align: justify;
}

.segmentText {
    font-weight: $base-font-regular;
    margin-left: $global-spacing-2;
}

.segmentNumber {
    font-size: 8vh;
    font-weight: $base-font-bold;
    color: $primary-color;
    margin: 0;
}

.segmentKey {
    font-size: 2vh;
}

.segmentButton {
    margin: $global-spacing-3;
}

.howto {
    padding: $global-spacing-3 0;
    background-color: $grey-mist;
}

.header {
    display: flex;
    padding: $global-spacing-2;
    border-bottom: 2px solid $grey-titanium;
}

.icon, .title {
    margin: 0;
}

.title {
    display: flex;
    align-items: center;
    font-size: $font-size-xxl;
}

.icon {
    padding-right: $global-spacing-2;
}

.card {
    margin: $global-spacing-2;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.2);
    border-radius: $base-border-radius;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card:hover {
    box-shadow: $strong-box-shadow;
}

.link {
    font-weight: $base-font-bold;
    cursor: pointer;
    text-decoration: underline;
    color: $primary-color;
}

a {
    text-decoration: none;
    color: $primary-color;
}

.content {
    width: 90%;
    margin: auto;
    padding-top: $global-spacing-3;
}

@media screen and (max-width: 1600px) {

    .features {
        width: 80%;
    }
}

@media screen and (max-width: $media-medium) {
    .intro {
        width: 80%;
    }
}

@media (max-width: $media-small) {
    .intro {
        width: 90%;
    }
    .features {
        width: 90%;
    }
    .cards {
        grid-template-columns: 1fr;
    }
    .segment {
        width: 80%;
    }
}