@import "~/src/styles/variables";

.element {
    display: flex;
    justify-content: center;
    text-align: left;
}

.intro {
    padding: $global-spacing-4 0;
}

.teaser {
    padding: $global-spacing-4 0;
    background-color: $grey-mist;
}

.button {
    padding: $global-spacing 0;
    width: 10em;
    border-radius: $full-border-radius;
    background-color: $primary-color;
    border: none;
    
}

.buttontext {
    text-decoration: none;
    font-weight: $base-font-bold;
    font-size: $font-size-md;
    color: $white;
}

#button {
    padding: $global-spacing-4 0;
}